{% extends 'base.html.twig' %}

{% block title %}Enregistrez-vous{% endblock %}

{% block body %}
    {{ form_start(registerform) }}
    {{ form_end(registerform) }}
    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>

{% endblock %}